---
title: Home
---


<canvas id="myChart" width="400" height="200"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= getChartKeys(1) %> ,
        datasets: [{
				label: 'Issues Opened',
				borderColor: 'rgba(153, 102, 255, 0.8)',
				backgroundColor: 'rgba(153, 102, 255, 0.8)',
				fill: false,
				data: <%= getChartValues(1) %> ,
				yAxisID: 'y-axis-1',
			}, {
				label: 'Issues Closed',
				borderColor: 'rgba(255, 99, 132, 0.8)',
				backgroundColor: 'rgba(255, 99, 132, 0.8)',
				fill: false,
				data: <%= getChartValues(0) %> ,
				yAxisID: 'y-axis-1'
			}]
    },
    options: {
        responsive: true,
					hoverMode: 'index',
					stacked: false,
					title: {
						display: true,
						text: 'DE Opened & Closed Issues'
					},
        scales: {
          yAxes: [{
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'left',
							id: 'y-axis-1',
						
						}],
        }
    }
});
</script>

<hr/>

<div class="row">
	<div class="col-sm-6">
		<h3>Social Media Impressions</h3>

		<iframe class="dashboard-embed" src="https://app.periscopedata.com/shared/5b7d9a82-d77f-42f7-af29-2dababbd82b5?embed=true" height="250px" width="100%"> </iframe>
	</div>
	<div class="col-sm-6">
		<h3> Data Endpoints </h3>

		<ul>
			<li><a target="_blank" href="https://gitlab-com.gitlab.io/marketing/corporate_marketing/developer-evangelism/code/de-dashboard/metrics/data.json"> Social Media (Twitter) Impressions </a></li>
			<li><a target="_blank" href="https://gitlab-com.gitlab.io/marketing/corporate_marketing/developer-evangelism/code/de-dashboard/metrics/youtube_playlist.csv">Youtube Video Content List</a></li>
		</ul>
	</div>
</div>

